<!DOCTYPE html>
<html>
  <head>
    <title>Inner Circle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #000; color: #fff;">
    <main>
      <% if notice %>
        <p style="color: #00ff00; text-align: center; padding: 10px 0;"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p style="color: #ff3333; text-align: center; padding: 10px 0;"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
